<h4 style="text-align: center; -webkit-text-fill-color: firebrick">Items </h4>
<hr style="-webkit-text-fill-color:white">
<form (submit)="add()" class="form-inline">
    <div class="input-group col-sm-5">
        <input type="text" class="form-control" name="item" [(ngModel)]="airport.name" placeholder="Item Name">
    </div>
    <div class="input-group col-sm-5">
        <input type="number" class="form-control" name="item" [(ngModel)]="airport.city" placeholder="Price">
    </div>
    <div class="input-group">
        <button type="submit" class="btn btn-primary">submit</button>
        <button type="edit" class="btn btn-primary" *ngIf="airportedit" (click)=a irportSubmitRecord()>Submit</button>
        <button type="edit" class="btn btn-primary" *ngIf="airportedit" (click)=c ancel()>Cancel</button>
    </div>
</form>
<br /><br />
<div class="container">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th> ID </th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let airport of airports">
                <td>{{airport.id}}</td>
                <td>{{airport.name}}</td>
                <td>{{airport.city}}</td>
                <td><button type="add" class="btn btn-primary" (click)=e ditAirport(airport.id)>Edit</button>
                </td>
                <td><button type="add" class="btn btn-danger" (click)=d eleteAirport(airport)>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>